* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 95%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
}

.header-picture {
	height: 400px;
}

h1, h2, h3 {
	font-family: 'Playfair Display', sans-serif;
}

/* main content (projects) */

.main-title {

}

.card-item {

}

.card-header {
	background-color: blueviolet;
}